* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1 {
    color: blue;
}
form {
    margin-top: 40px;
}
.container {
    margin: 80px auto;
    max-width: 480px;
    width: 100%;
}
input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}
button {
    background-color: rgb(6, 42, 245);
    border: none;
    color: #fff;
    font-weight: bold;
}
button:hover {
    background-color: rgb(65, 92, 243);
}